[Unit]
Description=Executa AVMD Guard a cada 2 minutos

[Timer]
OnBootSec=2min
OnUnitActiveSec=2min
AccuracySec=15s
Unit=avmd-guard.service

[Install]
WantedBy=timers.target
